@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap");

/* Navbar icon styles */
.icons-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

@media (max-width: 1152px) {
  .icons-container {
    display: flex;
    justify-content: center;
  }
}

.icons-container2 {
  display: flex;
}

.right-0 {
  right: 0px;
  left: auto;
}

.pointer {
  cursor: pointer;
}

.dropdown-text {
  text-align: center;
}

.cart-text {
  margin-top: 40px;
  margin-bottom: 80px;
}

/* Jumbotron styles */
.background-pink {
  background-color: pink;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 576px) {
  .background-pink {
    padding: 2rem 2rem;
  }
  .white-restored {
    margin-top: 10px;
  }
}

@media (min-width: 1152px) {
  .jumbo-large {
    display: flex;
  }
}

.retored-container {
  background-color: #ffffff;
  width: 100px;
  display: ruby;
}

.white-restored {
  color: #000000;
  text-align: center;
  font-size: larger;
  margin-left: 20px;
  margin-right: 20px;
}

.font-title {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.font-text {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.shop-button {
  font-family: "Raleway", sans-serif;
  padding-right: 100px;
  padding-left: 100px;
}

.contenedor-producto {
  display: flex;
  flex-direction: column;
}

.title-productos {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.img-size {
  max-width: 300px;
  max-height: 300px;
  align-self: center;
}

.card-title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
}

.añadir-btn {
  font-family: "Raleway", sans-serif;
  align-self: center;
}

.container-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
